<header>
  <!-- Nav Bar -->
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}" role="navigation">
    <div class="container">
      <!-- Logo and Title -->
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/img/Maclab-full-nobg.png" alt="Mac Lab logo" class="navbar-logo">
      </a>
      
      <!-- Navbar Toggle -->
      <button
        class="navbar-toggler collapsed ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <!-- Navigation Links -->
          <li class="nav-item">
            <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/news' | relative_url }}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/people' | relative_url }}">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/research' | relative_url }}">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/publications' | relative_url }}">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/join-us' | relative_url }}">Join Us</a>
          </li>
          <!-- Social Icons -->
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/RobMacCurdy" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/MacCurdyLab" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <!-- Dark Mode Toggle Button -->
          <li class="nav-item">
            <div class="dark-mode-toggle">
              <label class="switch">
                <input type="checkbox" id="darkModeToggle">
                <span class="slider round"></span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% if site.enable_progressbar %}
    <!-- Scrolling Progress Bar -->
    <progress id="progress" value="0">
      <div class="progress-container">
        <span class="progress-bar"></span>
      </div>
    </progress>
  {% endif %}
</header>

<!-- Script for Dark Mode Toggle -->
<script>
  const darkModeToggle = document.getElementById('darkModeToggle');
  const body = document.body;

  darkModeToggle.addEventListener('change', () => {
    if (darkModeToggle.checked) {
      body.classList.add('dark-mode');
    } else {
      body.classList.remove('dark-mode');
    }
  });
</script>